<style type="text/css">
	#footer {
	  position: relative;
	  background-color: #29413c;
	  padding: 30px 0;
	  color: #fff;
	  font-size: 14px;
	  bottom:0;
	  right: 0;
	  left: 0;
	  padding: 1rem;
	  text-align: center;
	}
	#footer .copyright {
	  text-align: center;
	}
	#footer .credits {
	  padding-top: 10px;
	  text-align: center;
	  font-size: 13px;
	  color: #ccc;
	}
	</style>

<footer id="footer">
    <div class="footer-top">
      <div class="container">

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Rimborso</strong>. All Rights Reserved
      </div>
      <div class="credits">
        SE project under <a href="http://infotech.nitk.ac.in/faculty/biju-r-mohan">Biju Mohan Sir</a>
      </div>
    </div>
  

  </footer><!-- #footer -->
